body {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.forms {
    height: 100%;
    width: 50%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.comments {
    height: 100%;
    width: 50%;
    padding: 5px;
    border: 1px solid black;
}

.add-comment {
    height: 40%;
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid black;
    overflow: auto;
}

.find-comment {
    height: 100%;
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid black;
    overflow: auto;
}